---
import FormClient from '../components/FormClient.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
  <div class="container">
   
    <div class="form-section">
      <h1>Añadir Cliente</h1>
      <div id="search-container" >
        <input type="search" name="search" placeholder="DNI" id="dniShare">
        <button id="search" >Buscar</button>
      </div>
      <div style="display: none;" id="create-person-form">
        <FormClient>
      </div>
    </div>
    
  </div>
</Layout>
<script>
import { checkPerson } from "../utils/personas.controller";
const searchInput = document.getElementById("dniShare") as HTMLInputElement;
const searchBtn = document.getElementById("search") as HTMLInputElement;
const searchContainer = document.getElementById("search-container") as HTMLElement
const createPersonForm = document.getElementById("create-person-form") as HTMLElement

searchBtn?.addEventListener("click",async()=>{ 
    const target = searchInput.value
    if(!target|| target== "") return
    const nameInput = document.getElementById("fullname") as HTMLInputElement
    const cedulaInput = document.getElementById("dni") as HTMLInputElement
    const {status, persona} = await checkPerson(target)
    
    if(status == 404){
        if(nameInput && cedulaInput){

          nameInput.value = persona.contractorNombre
          cedulaInput.value = persona.contractorDNI

        }

        createPersonForm.style.display = "flex"
        searchContainer.style.display = "none"
        return
    }
    const resp = window.confirm("la persona ya existe, quiere seguir con el proceso?")
    if(resp){
        window.location.href = `/create-vehicle?dni=${target}`
    }
})
   
</script>