---

import Layout from '../layouts/Layout.astro';
import { readDataStore } from '../utils/data-store';

const {personas} = await readDataStore()

---

<Layout>
  <div class="container">

  </div>
</Layout>
<script>

</script>