---
import type { PersonData } from "../types"

type props ={
  personas : PersonData[]
}
const {personas} = Astro.props as props

---



<form id="contratoForm" class="form">
    <div class="form-group">
      <label for="numeroContrato">Número de Contrato:</label>
      <input type="text" id="numeroContrato" name="numeroContrato" required>
      <span class="error-message" id="error-numeroContrato"></span>
    </div>
    
    <div class="form-group">
      <label for="placa">Placa del Vehículo:</label>
      <input type="text" id="placa" name="placa" required>
      <span class="error-message" id="error-placa"></span>
    </div>
    
    <div class="form-group">
      <label >DNI del Tomador:</label>
      <input type="text" id="tomadorDNI" list="personas" name="tomadorDNI" required />
      <datalist id="personas">
        {personas.map((persona) => (
          <option  value={persona.contractorDNI}>
            {persona.contractorNombre}
          </option>
        ))}
      </datalist>
    <span class="error-message" id="error-tomadorDNI"></span>
    </div>
    
    <div class="form-group">
      <label for="tomadorNombre">Nombre del Tomador:</label>
      <input type="text" id="tomadorNombre" name="tomadorNombre" required>
      <span class="error-message" id="error-tomadorNombre"></span>
    </div>
    
    <div class="form-group">
      <label for="vehiculoAno">Año del Vehículo:</label>
      <input type="number" id="vehiculoAno" name="vehiculoAno" min="1900" max="2030" required>
      <span class="error-message" id="error-vehiculoAno"></span>
    </div>
    
    <div class="form-group">
      <label for="vigenciaDesde">Vigencia Desde:</label>
      <input type="date" id="vigenciaDesde" name="vigenciaDesde" required>
      <span class="error-message" id="error-vigenciaDesde"></span>
    </div>
  </form>