---
import type { PersonData } from "../types"

type props ={
  personas : PersonData[]
}
const {personas} = Astro.props as props
---
<form id="formPerson" >
    
            <fieldset>
                <legend>Name Information</legend>

                <label for="fullname">
                    <span>Full Name:</span>
                    <input type="text" id="fullname" name="fullname" required />
                </label>
            </fieldset>


            <fieldset>
                <legend>DNI Information</legend>
                <label >
                    <span>DNI:</span>
                    <input type="text" id="dni" name="contractor_dni" required />
                </label>
            </fieldset>
        
        
            <fieldset>
                <legend>Address Information</legend>
                <label for="address">
                    <span>Address:</span>
                    <input type="text" id="address" name="contractorDreccion" required />
                </label>
            </fieldset>
       
            <fieldset>
                <legend>Phone Information</legend>
                <label for="phone">
                    <span>Phone Number:</span>
                    <input type="tel" id="phone" name="contractorTelefono" required />
                </label>
            </fieldset>
           <div>
            <button id="btnRegistrar" >Registrar</button>
           </div>
</form>

<script>
import type { PersonData } from "../types";
import { createPerson } from "../utils/personas.controller";
    const form = document.getElementById("formPerson")
    

    form?.addEventListener("submit", async (event) => {
        const btnRegistrar = document.getElementById("btnRegistrar")
        event.preventDefault();
        btnRegistrar?.setAttribute("disabled", "true")
        const {fullname, contractor_dni, contractorDreccion, contractorTelefono} = event.target as any;
        if(!fullname.value || !contractor_dni.value || !contractorDreccion.value || !contractorTelefono.value) {
            return alert("rellene todos los campos")
        };
        btnRegistrar?.removeAttribute("disabled")
        const data:PersonData = {
            contractor_nombre: fullname.value,
            contractor_dni: contractor_dni.value,
            contractor_direccion: contractorDreccion.value,
            contractor_telefono: contractorTelefono.value,
        };
        btnRegistrar?.setAttribute("disabled", "true")
        const responseData = await createPerson(data);
        if(responseData.status === 409){
            btnRegistrar?.removeAttribute("disabled")
            return alert("La cédula ya existe")
        }
        if(responseData.status === 500){
            return alert("Error del servidor")
        }
        window.location.href = "/create-vehicle?dni="+contractor_dni.value
    });
</script>